/* Apply Helvetica Neue to everything */
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

/* Full-screen container with Spotify's dark theme */
.main-container {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #121212, #1ED760);
}

body, html {
  overflow-x: hidden; /* Prevents horizontal scrolling */
}




